<h1>Usuarios</h1>

<ul class="usuarios">
	<%# i=0 %>
	<% @users.each do |user|  %>
	<hr />
	<li>
		<%#  if i<= @users.count i+=1 %>
		<%= gravatar_for user, :size =>30 %>
		<%= link_to user.nombre, user%>
		<% if usuario_actual.admin? %>
		| 
		<%= link_to "delete", user, :method => :delete, :confirm => "Esta Seguro?", :title => "Eliminar #{user.nombre}" %>
		<%end%>
	</li>
	<%end%>
</ul>
