<% if @product.errors.any? %>
	<div id = "error_explanation">
		<div class = "alert alert-error">
			<h2>
				Producto no se guardo
			</h2>
				<p>Hubo errores en los siguientes campos:</p>
				<ul>
					<% @product.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<%end%>
				</ul>
		</div>
	</div>
<% end %>
