<h1>Melaos Del Valle</h1>
<p> El sabor del valle se traslada a Medellin y se establece Melaos como su sede principal.
	Con tres años en el mercado sabemos como darle el toque caleño a nuestros productos y somos únicos en esto,
	 estamos convencidos de que lo bueno de la vida esta en los detalles dulces y es por esto que centramos nuestros esfuerzos en
	 entregar productos que endulcen los sentidos.
	
	</p>
