<h1>Visítanos</h1>

<p style="text-align: center"><%=image_tag("ubicacion.JPG", :alt => "Cra 66 B # 32 D 21",:class=>"round") %></p>
<hr />
<h4 style="text-align: left; padding-left: 100px"> Medellin : CARRERA 66 B # 32 D 19</h2>
<hr />
<h4 style="text-align: left; padding-left: 100px"> Mayor informacion: 2354144 </h2>
<hr />
<p style="text-align: center"><a href="http://www.paginasamarillas.com.co/empresa/melaos+del+valle-medellin-16310471">Páginas Amarillas</a> </p>
