<h1>Visítanos</h1>

<p style="text-align: center"><%=image_tag("ubicacion.JPG", :alt => "Cra 66 B # 32 D 21",:class=>"round") %></p>
<p style="text-align: center">Contacto en  (57) (4) 2354144 </p>

<p style="text-align: center"><a href="http://www.paginasamarillas.com.co/empresa/melaos+del+valle-medellin-16310471">Mas Información</a> </p>
