
<%=render ('Slideshow/carrousel')%>
<br />
<div align="center">
 <a href="/users/new"><button  type="button" class="css3button" >Registro</button></a>
</div>
<!--
	 <p><%=image_tag("strawberry-ice-cream.jpg", :alt => "Melaos",:class=>"round") %></p>
	 registro_path, en routes cuando se define match se hace con '/registro' -->

