<%= render ('Slideshow/carrousel')%>

<br />
<br />
<br />
<%= link_to(image_tag("Domicilios.png", :alt => "Domicilios Medellin: 2354144 Area de entrega limitada",:class=>"img-responsive round"), products_path) %>


<div>
	<ol class="post">
		<%= render 'posts/post'%>
	</ol>
</div>



	
<%begin%>
<% if usuario_actual.admin? %>
<%= render 'posts/form'%>
<%end%>
<%rescue Exception%>
<%end%>

