<table >
	<tr>
		
		<td class="main">
		<%=render ('Slideshow/carrousel')%>
	
		<br />
		<hr />
		<br />
	 	
	 	<div>
		 	<ol class="post">
		 	  <%=render 'posts/post'%>
		 	</ol> 
		</div>	

		
		</td>
		<td class="sidebar"  valign="top">
			<p><%=link_to(image_tag("Domicilios2.png", :alt => "Domicilios Medellin: 2354144 Area de entrega limitada"), products_path) %></p>		                       
		</td>
	</tr>
</table>
