/* line 1, ../../vendor/assets/stylesheets/custom.css.scss */
.logo:hover{
	color:#002A80;
	background-color:transparent;
	  -webkit-transition: all 0.3s ease-in;
}

a {
  font-size: 20px;
  color:#0081C2;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease-in;
  /*Safari & Chrome*/
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  /* Firefox 4 */
  -o-transition: all 0.3s ease-in;
  /* Opera */
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}


.icono {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 110%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

/* line 14, ../../vendor/assets/stylesheets/custom.css.scss */
.icono:focus, .icono:active, .icono:hover,
.icono.active {
  -webkit-box-shadow: 0 0 5px 2px deepskyblue;
  -moz-box-shadow: 0 0 5px 2px deepskyblue;
  box-shadow: 0 0 5px 2px deepskyblue;
}

/* line 20, ../../vendor/assets/stylesheets/custom.css.scss */
#myCarousel {
  width: 800px;
  height: 400px;
  margin: 0px auto;
}

/* line 25, ../../vendor/assets/stylesheets/custom.css.scss */
.container {
  width: 850px;
}



body {
  font-size: 80%;
  opacity:0.95;
  width: 100%;
  padding-top: 50px;
  margin-left:-150px;
  background-image: url(/assets/backmela2.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-color: #8cd0f0;
}

@media screen and (max-width: 768px) {
  body body {
    padding-top: 0px;
  }
}


section {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 30px;
  margin-top: 2em;
  font-size: 120%;
  background: white;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}





section h1 {
  font-size: 200%;
  text-align: right;
}


input:focus {
  outline: none;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
  -moz-box-shadow: 0px 0px 8px #7bc1f7;
  -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

input[type=text] {
  margin-top: 10px;
  left: 50%;
  top: 50%;
  border: 1px solid #c4c4c4;
  width: 200px;
  height: 20px;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
}

input[type=password] {
  margin-top: 10px;
  left: 50%;
  top: 50%;
  border: 1px solid #c4c4c4;
  width: 200px;
  height: 20px;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
}

input[type=submit] {
  margin-top: 10px;
  left: 50%;
  top: 50%;
  border: 1px solid #c4c4c4;
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li a {
  border-right: 30px solid transparent;
 
}

footer nav ul li a:hover {
  background-color: transparent;
  text-decoration:none;
  color:#006DCC;
}


table.perfil {
  width: 100%;
  margin-bottom: 0;
}



td.main {
  width: 70%;
  padding-left: 30px;
}

td.sidebar {
 background:transparent;
 padding-left:120px;
}


.perfil img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

ul.usuarios li {
  list-style:none;
}

/* entire container, keeps perspective */
/* flip the pane when hovered */
/* line 314, ../../vendor/assets/stylesheets/custom.css.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  width: 200px;
  height: 250px;
  margin: 20px;
}

/* line 323, ../../vendor/assets/stylesheets/custom.css.scss */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 331, ../../vendor/assets/stylesheets/custom.css.scss */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  position: relative;
}

/* line 340, ../../vendor/assets/stylesheets/custom.css.scss */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 348, ../../vendor/assets/stylesheets/custom.css.scss */
.front {
  z-index: 2;
}

/* line 352, ../../vendor/assets/stylesheets/custom.css.scss */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 360, ../../vendor/assets/stylesheets/custom.css.scss */
#error_explanation {
  color: #f00;
}
/* line 362, ../../vendor/assets/stylesheets/custom.css.scss */
#error_explanation ul {
  list-style: none;
  margin: 0 0 18px 0;
}

/* line 369, ../../vendor/assets/stylesheets/custom.css.scss */
.icono {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: 110%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}


button.css3button {
	font-family: "PT Sans", Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	
	background: -moz-linear-gradient(
		top,
		#404040 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#404040),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(163,161,163,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(163,161,163,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(163,161,163,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

	
.thumb{
	float:left;
	padding: 20px;
	margin-left: -20px;
	margin-top:-20px;
	height: 200px;
	overflow: auto;
}

.list-Home:hover{
	background: #eee;
  	cursor: pointer;
}

.post{
	list-style: none;
	margin: 10px 0 0 0;
	width: 690px;
	height: 250px;
	padding-left: 50px;
	

}


.timestamp{
	color:#C4C4C4;
	float:right;
}












